<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sharipov.podcaster.f_splash" >

    <application>
        <activity
            android:name="ru.sharipov.podcaster.f_splash.SplashActivityView"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.LightNavigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
